<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= app.name %></title>
    <!--<link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />	-->
	<link rel="stylesheet" href="css/main.css" media="Screen" type="text/css" />
    <!--[if IEMobile]>
    <!--<link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />-->
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    
    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }
    </script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
	<script type="text/javascript" src="js/swfobject.js"></script>
	<script src="js/main.js"></script>
  </head>
  <body>
	<div id="fb-root"></div>
	<script>	
	  window.fbAsyncInit = function() {
		// init the FB JS SDK
		FB.init({
		  appId      : '399235116842918',                        // App ID from the app dashboard
		  channelUrl : 'channel.html', // Channel file for x-domain comms
		  status     : true,                                 // Check Facebook Login status
		  xfbml      : true                                  // Look for social plugins on the page
		});
		LoginStatus();
		// Additional initialization code such as adding Event Listeners goes here
	  };

	  // Load the SDK asynchronously
	  (function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/all.js";
		 fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	  <div id="player1">
		<div class="profilepic"><img src="http://placehold.it/60X60"></img></div>
		<div class="profilename">Player 1</div>
	  </div>
	  <!--<div id="spacer"></div>
	  <div id="player2">
		<div class="profilepic"><img src="http://placehold.it/60X60"></img></div>
		<div class="profilename">Player 2</div>
	  </div>-->
		<div id="myContent">
			<h1>Loading . . .</h1>
				<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
		</div>
		<br>
		<br>
		<br>
		<button onclick="javascript:PublishToWall();" class="btn-orange" style="width:180px;">Share With World</button>		
		<button onclick="javascript:SendMessage();" class="btn-orange" style="width:150px;">Tell Friends</button>
		<button onclick="javascript:AddFriend();" class="btn-orange" style="width:150px;">Add a friend</button>
		
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
  </body>
</html>
