body
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	background:#FFFFFF;
}
#player1,#player2,#spacer
{
	display:inline-block;
}
#player1
{
	text-align: left;
}
#player2
{
	text-align: right;
}
#player1 .profilepic, #player1 .profilename
{
	display:inline-block;
}
#spacer
{
	width:770px;
}